# /* === WELCOME TO ORBIT NEXT FRAMEWORK  ===
#  *                     
#  *	  By :
#  *
#  *     ██████╗ ██████╗ ██████╗ ██╗████████╗    ████████╗██╗   ██╗██████╗ ███╗   ██╗███████╗██████╗ 
#  *    ██╔═══██╗██╔══██╗██╔══██╗██║╚══██╔══╝    ╚══██╔══╝██║   ██║██╔══██╗████╗  ██║██╔════╝██╔══██╗
#  *    ██║   ██║██████╔╝██████╔╝██║   ██║          ██║   ██║   ██║██████╔╝██╔██╗ ██║█████╗  ██████╔╝
#  *    ██║   ██║██╔══██╗██╔══██╗██║   ██║          ██║   ██║   ██║██╔══██╗██║╚██╗██║██╔══╝  ██╔══██╗
#  *    ╚██████╔╝██║  ██║██████╔╝██║   ██║          ██║   ╚██████╔╝██║  ██║██║ ╚████║███████╗██║  ██║
#  *     ╚═════╝ ╚═╝  ╚═╝╚═════╝ ╚═╝   ╚═╝          ╚═╝    ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝
#  *          
#  *  AUTHOR : MOHAMED GUEYE [Orbit Turner] - Email: orbitturner@gmail.com - Country: Senegal
#  */
ErrorDocument 404 /TPDevWeb_SIMPLONP3/TP4_PHP_POO_V2/src/view/errors/error404-mobile.php

#==========================================
# SWITCHING ON / OFF THE REWRITE ENGINE 
#==========================================
RewriteEngine On


#==========================================
# ♐🔀 CONDITION OF URL REWRITENING🔀♐
#==========================================
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-l



#==========================================
# REDIRECTS EVERYTHING TO THE MAIN INDEX 
#==========================================
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
#==========================================